@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <section id="work" class="page-section page">
        <div class="container text-center">
            <div class="heading">
                <h2>Projects</h2>

                <p>
                    <br />
                    <marquee style="color:goldenrod">Click To Get The Info Of Desried Project </marquee>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="portfolio">
                        <ul class="filters list-inline">
                            <li> <a class="active" data-filter="*" href="#">All</a> </li>
                            <li> <a data-filter=".photography" href="#">New Projects</a> </li>
                            <li> <a data-filter=".branding" href="#">Villas</a> </li>
                            <li> <a data-filter=".web" href="#">Plots</a> </li>
                        </ul>
                        <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight" style="position: relative; height: 438px;">
                            <li class="item branding" style="position: absolute; left: 0px; top: 0px;">
                                <figure class="effect-bubba">
                                    <img src="~/images/bismillah-society-phase-2.jpg" alt="img02"  />
                                    <figcaption>
                                        <h2>Bismillah Society Phase 2</h2>
                                    <a href="https://bismillahdevelopers.com/bismillah-housing-scheme-phase-2/" class="fancybox">Bismillah Society</a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="item photography" style="position: absolute; left: 292px; top: 0px;">
                                <figure class="effect-bubba">
                                    <img src="~/images/smart-city-lahore.jpg" alt="img02" />
                                    <figcaption>
                                        <h2>Lahore Smart City</h2>
                                    <a href="https://www.lahoresmartcitypk.com/" class="fancybox">Lahore Smart City</a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="item branding" style="position: absolute; left: 585px; top: 0px;">
                                <figure class="effect-bubba">
                                    <img src="~/images/lake-city-lahore-1.jpeg " alt="img02" />
                                    <figcaption>
                                        <h2>Lake City</h2>
                                    <a href="https://www.lakecitylahore.com/amenities-lifestyle" class="fancybox">Lake City Lahore</a>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="item photography" style="position: absolute; left: 877px; top: 0px;">
                                <figure class="effect-bubba">
                                    <img src="~/images/soul-city-lahore.jpeg" alt="img02" />
                                    <figcaption>
                                        <h2>Soul City Lahore</h2>
                                    <a href="https://soulcity.com.pk/about/" class="fancybox">Soul City Lahore</a>
                                    </figcaption>
                                </figure>
                            </li>
                        <li class="item photography" style="position: absolute; left: 0px; top: 219px;">
                            <figure class="effect-bubba">
                                <img src="~/images/bismillah-society-phase-2.jpg" alt="img02" />
                                <figcaption>
                                    <h2>Bismillah Society Phase 2</h2>
                                    <a href="https://bismillahdevelopers.com/bismillah-housing-scheme-phase-2/" class="fancybox">Bismillah Society </a>
                                </figcaption>
                            </figure>
                            </li>
                            <li class="item web" style="position: absolute; left: 292px; top: 219px;">
                            <figure class="effect-bubba">
                                <img src="~/images/soul-city-lahore.jpeg" alt="img02" />
                                <figcaption>
                                    <h2>Soul City Lahore</h2>
                                    <a href="https://soulcity.com.pk/about/" class="fancybox">Soul City Lahore</a>
                                </figcaption>
                            </figure>
                            </li>
                            <li class="item photography" style="position: absolute; left: 585px; top: 219px;">
                            <figure class="effect-bubba">
                                <img src="~/images/smart-city-lahore.jpg" alt="img02" />
                                <figcaption>
                                    <h2>Lahore Smart City</h2>
                                    <a href="https://www.lahoresmartcitypk.com/" class="fancybox">Lahore Smart City</a>
                                </figcaption>
                            </figure>
                            </li>
                            <li class="item web" style="position: absolute; left: 877px; top: 219px;">
                            <figure class="effect-bubba">
                                <img src="~/images/lake-city-lahore-1.jpeg " alt="img02" />
                                <figcaption>
                                    <h2>Lake City</h2>
                                    <a href="https://www.lakecitylahore.com/amenities-lifestyle" class="fancybox">Lake City Lahore</a>
                                </figcaption>
                            </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


 
