@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
    <section id="aboutUs">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>About Us</h2>
                <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
            </div>
            <div class="row feature design">
                <div class="area1 columns right">
                    <h3>OUR STORY.</h3>
                    <p>
                    Titanium Agency has been formed by group of seasoned real estate consultants and marketing professionals having rich experience of residential and commercial projects all across the Pakistan.
                    </p>
                    <p>
                    We specialize in offering a comprehensive range of services tailored to meet your diverse property needs. Whether you are looking to rent a house, invest in a plot for sale, buy or sell farmhouses, or indulge in the luxury of villas, we have you covered.
                    </p>
                    @* <a href="#" class="btn">Request Quote</a> *@
                </div>
                <div class="area2 columns feature-media left"> <img src="~/images/our-story.jpg" alt="" width="100%"> </div>
            </div>
            <div class="row dataTxt">
                <div class="col-md-4 col-sm-6">
                    <h4>What We Do?</h4>
                <ul class="listArrow">
                    <li><strong>Rent a House:</strong> Our extensive portfolio of rental properties ensures that you find the perfect home that fits your lifestyle and budget.</li>
                    <li><strong>Plot For Sale:</strong> We assist you in securing the best plots for sale, whether for residential, commercial, or investment purposes.</li>
                    <li><strong>Farmhouse Sales and Purchase:</strong> Experience tranquility and luxury with our curated selection of farmhouses.</li>
                    <li><strong>Luxury Villas</strong>: Indulge in opulence with our exclusive range of luxury villas. We offer bespoke services to help you purchase the villa of your dreams, ensuring the highest standards of comfort and elegance.</li>
                </ul>
                    <br>
                </div>

                <div class="col-md-4 col-sm-6">

                    <h4>Why Choose Us?</h4>
                <p>Our expert team provides guidance through every step, ensuring a smooth and transparent transaction. </p>
                    <ul class="listArrow">
                    <li>
                        <storng>Quality</storng> We aim to exceed expectations in everything we do.
                    </li>
                    <li>
                        <strong>Integrity:</strong> We conduct ourselves in the highest ethical standards, demonstrating honesty and fairness in every decision and action
                    </li>
                    <li>
                        <storng>Agility:</storng> We execute expeditiously to address our clients’ needs.
                    </li>
                    <li><strong>Courage:</strong> We make decisions and act in the best interests of our clients.</li>
                    <li><strong>Respect & Trust:</strong> We make decisions and act in the best interests of our clients.</li>
                    </ul>
                    <!-- Accordion starts -->
                </div>

                <div class="col-md-4 col-sm-6">
                    <img src="~/images/about-us.jpeg" alt="" width="100%">
                </div>

            </div>
        </div>
    </section>


