
<section class="services" id="#services">
    <div class="container mt-3">
        <div class="row gy-3">
            <div class="col-12"><h1 class="text-center" style="color:goldenrod">Our Services</h1></div>
            <!-- item -->
            <div class="col-md-3 text-center service-item">
                <i class="circle"><img src="assets/img/5.png" alt="" /></i>
                <h3>New Projects</h3>
                <p>
                    Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.
                </p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center service-item">
                <i class="circle"> <img src="assets/img/1.png" alt="" /></i>
                <h3>Plots for Sale</h3>
                <p>
                    Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.
                </p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center service-item">
                <i class="circle"> <img src="assets/img/2.png" alt="" /></i>
                <h3>Luxury Villas</h3>
                <p>
                    Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit impe.
                </p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center service-item">
                <i class="circle"> <img src="assets/img/3.png" alt="" /></i>
                <h3>Rent a House</h3>
                <p>
                    Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.
                </p>
            </div>
            <!-- end:-->
        </div>
</section>